<html>
<head>
<title>Monitor Manager</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
	var load_monitors_table = function() {
		$.getJSON("/manage/monitors", function(data) {
			var tbody = $("table#monitors_table tbody");
			tbody.empty();

			$.each(data.monitors, function(i, monitor) {
                var urlField = $("<input type=\"text\"/>")
                    .val(monitor.url);

                var saveButton = $("<input type=\"button\"/>")
                    .val("Save")
                    .click(function() {
                        $.ajax({
                            type: 'POST',
                            url: "/manage/monitor/" + monitor.name,
                            data: JSON.stringify({url: urlField.val()}),
                            dataType: 'json'
                        });
                    });

                var reloadButton = $("<input type=\"button\"/>")
                    .val("Reload")
                    .click(function() {
                        $.ajax({
                            type: 'POST',
                            url: "/manage/monitor/" + monitor.name + "/reload",
                            data: JSON.stringify({hard: false}),
                            dataType: 'json'
                        });
                    });

                tbody.append($("<tr/>")
                    .append($("<td/>").text(monitor.id))
                    .append($("<td/>").text(monitor.name))
                    .append($("<td/>").append(urlField))
                    .append($("<td/>")
                        .append(saveButton)
                        .append(reloadButton)
                    )
                );
			});
		});
	};

	load_monitors_table();
});
</script>
</head>
<body>
	<table width="750px" border="1" id="monitors_table">
	<thead>
		<tr>
			<th width="15px">ID</th>
			<th>Name</th>
			<th>URL</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
</body>
</html>
