<!DOCTYPE html>
<html>
<head>
<title>Monitor Manager</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var loadMonitorsTable = function(options) {
        var orderBy = options && options.orderBy || null;
        var desc = options && options.desc || false;

        $.getJSON("/manage/monitors", {
            order_by: orderBy,
            desc: desc
        }, function(data) {
            var tbody = $("table#monitors_table tbody");
            tbody.empty();

            $.each(data.monitors, function(i, monitor) {
                var urlField = $("<input type=\"text\"/>")
                    .val(monitor.url);

                var saveButton = $("<input type=\"button\"/>")
                    .val("Save")
                    .click(function() {
                        $.ajax({
                            type: 'POST',
                            url: "/manage/monitor/" + monitor.name,
                            data: JSON.stringify({url: urlField.val()}),
                            dataType: 'json'
                        });
                    });

                var reloadButton = $("<input type=\"button\"/>")
                    .val("Reload")
                    .click(function() {
                        $.ajax({
                            type: 'POST',
                            url: "/manage/monitor/" + monitor.name + "/reload",
                            data: JSON.stringify({hard: false}),
                            dataType: 'json'
                        });
                    });

                var deleteButton = $("<input type=\"button\"/>")
                    .val("Delete")
                    .click(function() {
                        $.ajax({
                            type: 'DELETE',
                            url: "/manage/monitor/" + monitor.name,
                            success: function() {
                                loadMonitorsTable();
                            }
                        });
                    });

                tbody.append($("<tr/>")
                    .append($("<td/>").text(monitor.name))
                    .append($("<td/>").append(urlField))
                    .append($("<td/>")
                        .append(saveButton)
                        .append(reloadButton)
                        .append(deleteButton)
                    )
                );
            });
        });
    };

    var initMonitorCreateForm = function() {
        var form = $("div#monitor_create_form");
        form.find("input#monitor_create_submit").click(function() {
            var name = form.find("input#monitor_create_name").val();
            var url = form.find("input#monitor_create_url").val();

            $.ajax({
                type: 'PUT',
                url: "/manage/monitor/" + name,
                data: JSON.stringify({url: url}),
                dataType: 'json',
                success: function() {
                    loadMonitorsTable();
                }
            });
        });
    };

    var initMonitorsSortLinks = function() {
        var orderBy = "name";
        var desc = false;

        $("table#monitors_table th#monitor_name").click(function() {
            orderBy = "name";
            desc = !desc;
            loadMonitorsTable({orderBy: orderBy, desc: desc});
        });

        $("table#monitors_table th#monitor_url").click(function() {
            orderBy = "url";
            desc = !desc;
            loadMonitorsTable({orderBy: orderBy, desc: desc});
        });
    };

    initMonitorCreateForm();
    initMonitorsSortLinks();
    loadMonitorsTable();
});
</script>
<style>
table#monitors_table tbody input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
</style>
</head>
<body>
    <div id="monitor_create_form">
        <strong>Create Monitor</strong><span style="margin-right: 15px"></span>
        <label for="monitor_create_name">Name:</label> <input id="monitor_create_name" type="text"/>
        <label for="monitor_create_url">URL:</label> <input id="monitor_create_url" type="text"/>
        <input id="monitor_create_submit" type="button" value="Save"/>
    </div>
    <br/>
    <table border="1" id="monitors_table">
    <thead>
        <tr>
            <th id="monitor_name" width="150px"><a href="#">Name</a></th>
            <th id="monitor_url" width="300px"><a href="#">URL</a></th>
            <th width="0">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</body>
</html>
