<!DOCTYPE html>
<html>
<head>
<title>Monitor Manager</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var loadMonitorsTable = function() {
        $.getJSON("/manage/monitors", function(data) {
            var tbody = $("table#monitors_table tbody");
            tbody.empty();

            $.each(data.monitors, function(i, monitor) {
                var urlField = $("<input type=\"text\"/>")
                    .val(monitor.url);

                var saveButton = $("<input type=\"button\"/>")
                    .val("Save")
                    .click(function() {
                        $.ajax({
                            type: 'POST',
                            url: "/manage/monitor/" + monitor.name,
                            data: JSON.stringify({url: urlField.val()}),
                            dataType: 'json'
                        });
                    });

                var reloadButton = $("<input type=\"button\"/>")
                    .val("Reload")
                    .click(function() {
                        $.ajax({
                            type: 'POST',
                            url: "/manage/monitor/" + monitor.name + "/reload",
                            data: JSON.stringify({hard: false}),
                            dataType: 'json'
                        });
                    });

                var deleteButton = $("<input type=\"button\"/>")
                    .val("Delete")
                    .click(function() {
                        $.ajax({
                            type: 'DELETE',
                            url: "/manage/monitor/" + monitor.name,
                            success: function() {
                                loadMonitorsTable();
                            }
                        });
                    });

                tbody.append($("<tr/>")
                    .append($("<td/>").text(monitor.id))
                    .append($("<td/>").text(monitor.name))
                    .append($("<td/>").append(urlField))
                    .append($("<td/>")
                        .append(saveButton)
                        .append(reloadButton)
                        .append(deleteButton)
                    )
                );
            });
        });
    };

    var initMonitorCreateForm = function() {
        var form = $("div#monitor_create_form");
        form.find("input#monitor_create_submit").click(function() {
            var name = form.find("input#monitor_create_name").val();
            var url = form.find("input#monitor_create_url").val();

            $.ajax({
                type: 'PUT',
                url: "/manage/monitor/" + name,
                data: JSON.stringify({url: url}),
                dataType: 'json',
                success: function() {
                    loadMonitorsTable();
                }
            });
        });
    }

    loadMonitorsTable();
    initMonitorCreateForm();
});
</script>
<style>
table#monitors_table tbody input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
</style>
</head>
<body>
    <div id="monitor_create_form">
        <strong>Create Monitor</strong><span style="margin-right: 15px"></span>
        <label for="monitor_create_name">Name:</label> <input id="monitor_create_name" type="text"/>
        <label for="monitor_create_url">URL:</label> <input id="monitor_create_url" type="text"/>
        <input id="monitor_create_submit" type="button" value="Save"/>
    </div>
    <br/>
    <table border="1" id="monitors_table">
    <thead>
        <tr>
            <th width="15px">ID</th>
            <th width="150px">Name</th>
            <th width="300px">URL</th>
            <th width="0">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</body>
</html>
